Repository steve-e-jackson/durable-code-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: \.(py)$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$

feat(docker): Task 4 - Remove linting tools from development containers
  durable-code-app/backend/Dockerfile.dev.backup
  durable-code-app/frontend/Dockerfile.dev.backup
  roadmap/in_progress/docker-linting-separation/PROGRESS_TRACKER.md
Due: design-linters

fix(hooks): Fix React hook dependencies and stale closures - PR3 Frontend Critical Fixes
  durable-code-app/frontend/.eslintrc.json
  durable-code-app/frontend/src/features/demo/hooks/useCanvas.ts
  durable-code-app/frontend/src/features/demo/hooks/useOscilloscope.ts
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

docs: Add Docker organization refactoring proposal to roadmap
  roadmap/in_progress/docker-linting-separation/PROGRESS_TRACKER.md
Due: design-linters

docs: Update ROADMAP.md with Docker Linting Separation progress
  roadmap/ROADMAP.md
Due: design-linters

docs(roadmap): Update ROADMAP.md to reflect PR3 completion
  roadmap/ROADMAP.md
Due: design-linters

chore: Remove unnecessary backup files
  durable-code-app/backend/Dockerfile.dev.backup
  durable-code-app/frontend/Dockerfile.dev.backup
Due: none

fix(hooks): Fix React hook dependencies and stale closures - PR3 Frontend Critical Fixes (#49)
  durable-code-app/frontend/.eslintrc.json
  durable-code-app/frontend/src/features/demo/hooks/useCanvas.ts
  durable-code-app/frontend/src/features/demo/hooks/useOscilloscope.ts
  roadmap/ROADMAP.md
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

feat(docker): Task 4 - Remove linting tools from development containers (#48)
  durable-code-app/backend/Dockerfile.dev
  durable-code-app/frontend/Dockerfile.dev
  roadmap/ROADMAP.md
  roadmap/in_progress/docker-linting-separation/PROGRESS_TRACKER.md
Due: design-linters

fix(navigation): Fix navigation race condition with atomic state updates - PR4 Frontend Critical Fixes
  durable-code-app/frontend/src/features/navigation/hooks/useNavigation.ts
  durable-code-app/frontend/src/store/navigationStore.test.ts
  durable-code-app/frontend/src/store/navigationStore.ts
Due: none

docs(roadmap): Update progress tracker for PR4 completion
  roadmap/ROADMAP.md
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

feat(docker): Task 5 - Complete Documentation and Testing for Docker Linting Separation
  .ai/howto/run-linting.md
  .ai/howto/setup-development.md
  docker/linting/README.md
  docker/linting/ROLLBACK.md
  docker/linting/TROUBLESHOOTING.md
  docker/linting/test-integration.sh
  roadmap/complete/docker-linting-separation/AI_CONTEXT.md
  roadmap/complete/docker-linting-separation/IMPLEMENTATION_BREAKDOWN.md
  roadmap/complete/docker-linting-separation/PROGRESS_TRACKER.md
  roadmap/complete/docker-linting-separation/TESTING_STRATEGY.md
Due: design-linters

feat(docker): Task 5 - Complete Documentation and Testing for Docker Linting Separation (#51)
  .ai/howto/run-linting.md
  .ai/howto/setup-development.md
  docker/linting/README.md
  docker/linting/ROLLBACK.md
  docker/linting/TROUBLESHOOTING.md
  docker/linting/test-integration.sh
  roadmap/complete/docker-linting-separation/AI_CONTEXT.md
  roadmap/complete/docker-linting-separation/IMPLEMENTATION_BREAKDOWN.md
  roadmap/complete/docker-linting-separation/PROGRESS_TRACKER.md
  roadmap/complete/docker-linting-separation/TESTING_STRATEGY.md
Due: design-linters

fix(navigation): Fix navigation race condition with atomic state updates - PR4 Frontend Critical Fixes (#50)
  durable-code-app/frontend/src/features/navigation/hooks/useNavigation.ts
  durable-code-app/frontend/src/store/navigationStore.test.ts
  durable-code-app/frontend/src/store/navigationStore.ts
  roadmap/ROADMAP.md
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

docs(roadmap): Create comprehensive Docker directory reorganization roadmap
  roadmap/planning/docker-reorganization/AI_CONTEXT.md
  roadmap/planning/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/planning/docker-reorganization/PR_BREAKDOWN.md
  roadmap/planning/docker-reorganization/TESTING_STRATEGY.md
Due: design-linters

feat(frontend): PR5 - Component Performance Optimization
  durable-code-app/frontend/src/components/common/Button/Button.tsx
  durable-code-app/frontend/src/features/demo/components/ControlPanel/ControlPanel.tsx
  durable-code-app/frontend/src/features/demo/components/DemoTab/DemoTab.tsx
  durable-code-app/frontend/src/features/demo/components/Oscilloscope/OscilloscopeCanvas.tsx
  durable-code-app/frontend/src/features/demo/components/StatusPanel/StatusPanel.tsx
  durable-code-app/frontend/src/features/demo/contexts/OscilloscopeContext.tsx
  durable-code-app/frontend/src/features/demo/contexts/context.ts
  durable-code-app/frontend/src/features/demo/hooks/useOscilloscopeContext.ts
  durable-code-app/frontend/src/features/demo/types/context.types.ts
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

docs(roadmap): Create comprehensive Docker directory reorganization roadmap (#52)
  roadmap/planning/docker-reorganization/AI_CONTEXT.md
  roadmap/planning/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/planning/docker-reorganization/PR_BREAKDOWN.md
  roadmap/planning/docker-reorganization/TESTING_STRATEGY.md
Due: design-linters

fix(frontend): Apply prettier formatting to React context files
  durable-code-app/frontend/src/features/demo/contexts/OscilloscopeContext.tsx
  durable-code-app/frontend/src/features/demo/contexts/context.ts
  durable-code-app/frontend/src/features/demo/hooks/useOscilloscopeContext.ts
  durable-code-app/frontend/src/features/demo/types/context.types.ts
Due: none

feat(frontend): PR5 - Component Performance Optimization (#53)
  durable-code-app/frontend/src/components/common/Button/Button.tsx
  durable-code-app/frontend/src/features/demo/components/ControlPanel/ControlPanel.tsx
  durable-code-app/frontend/src/features/demo/components/DemoTab/DemoTab.tsx
  durable-code-app/frontend/src/features/demo/components/Oscilloscope/OscilloscopeCanvas.tsx
  durable-code-app/frontend/src/features/demo/components/StatusPanel/StatusPanel.tsx
  durable-code-app/frontend/src/features/demo/contexts/OscilloscopeContext.tsx
  durable-code-app/frontend/src/features/demo/contexts/context.ts
  durable-code-app/frontend/src/features/demo/hooks/useOscilloscopeContext.ts
  durable-code-app/frontend/src/features/demo/types/context.types.ts
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
Due: design-linters

feat(docker): PR1 - Create .docker directory structure foundation
  .ai/layout.yaml
  roadmap/planning/docker-reorganization/PROGRESS_TRACKER.md
Due: design-linters

docs: Update roadmap for Docker reorganization PR1 completion
  roadmap/ROADMAP.md
  roadmap/in_progress/docker-reorganization/AI_CONTEXT.md
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/in_progress/docker-reorganization/PR_BREAKDOWN.md
  roadmap/in_progress/docker-reorganization/TESTING_STRATEGY.md
Due: design-linters

feat(docker): PR1 - Create .docker directory structure foundation (#54)
  .ai/layout.yaml
  roadmap/ROADMAP.md
  roadmap/in_progress/docker-reorganization/AI_CONTEXT.md
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/in_progress/docker-reorganization/PR_BREAKDOWN.md
  roadmap/in_progress/docker-reorganization/TESTING_STRATEGY.md
Due: design-linters

fix(settings): Improve Claude Code settings and permissions structure
  .ai/howto/code-authoring-workflow.md
  .ai/howto/create-new-code-files.md
  .ai/index.yaml
  .claude/commands/new-code.md
  .claude/settings.json
Due: design-linters

fix(settings): Improve Claude Code settings and permissions structure (#55)
  .ai/howto/code-authoring-workflow.md
  .ai/howto/create-new-code-files.md
  .ai/index.yaml
  .claude/commands/new-code.md
  .claude/settings.json
Due: design-linters

feat(docker): PR2 - Move all Dockerfiles to organized .docker/dockerfiles structure
  .docker/dockerfiles/backend/Dockerfile.dev
  .docker/dockerfiles/backend/Dockerfile.prod
  .docker/dockerfiles/deployment/Dockerfile.simple-backend
  .docker/dockerfiles/frontend/Dockerfile.dev
  .docker/dockerfiles/frontend/Dockerfile.prod
  .docker/dockerfiles/linting/Dockerfile.js-lint
  .docker/dockerfiles/linting/Dockerfile.python-lint
  .docker/dockerfiles/testing/Dockerfile.playwright
  docker/linting/Dockerfile.js-lint
  docker/linting/Dockerfile.python-lint
  durable-code-app/backend/Dockerfile
  durable-code-app/backend/Dockerfile.dev
  durable-code-app/frontend/Dockerfile
  durable-code-app/frontend/Dockerfile.dev
  scripts/deployment/Dockerfile.simple-backend
  test/integration_test/Dockerfile.playwright
Due: none

docs(roadmap): Update progress tracker for completed PR2 Docker reorganization
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
Due: design-linters

chore: Update Claude settings configuration
  .claude/settings.json
Due: none

feat(docker): PR2 - Move Dockerfiles to .docker/dockerfiles (#56)
  .claude/settings.json
  .docker/dockerfiles/backend/Dockerfile.dev
  .docker/dockerfiles/backend/Dockerfile.prod
  .docker/dockerfiles/deployment/Dockerfile.simple-backend
  .docker/dockerfiles/frontend/Dockerfile.dev
  .docker/dockerfiles/frontend/Dockerfile.prod
  .docker/dockerfiles/linting/Dockerfile.js-lint
  .docker/dockerfiles/linting/Dockerfile.python-lint
  .docker/dockerfiles/testing/Dockerfile.playwright
  docker/linting/Dockerfile.js-lint
  docker/linting/Dockerfile.python-lint
  durable-code-app/backend/Dockerfile
  durable-code-app/backend/Dockerfile.dev
  durable-code-app/frontend/Dockerfile
  durable-code-app/frontend/Dockerfile.dev
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
  scripts/deployment/Dockerfile.simple-backend
  test/integration_test/Dockerfile.playwright
Due: design-linters

feat(docker): PR3 - Move compose files and update all references
  .docker/compose/dev.yml
  .docker/compose/lint.yml
  .docker/compose/prod.yml
  .github/workflows/build-and-push.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  Makefile.lint
  docker/linting/Dockerfile.js-lint
  docker/linting/Dockerfile.python-lint
  durable-code-app/backend/Dockerfile
  durable-code-app/backend/Dockerfile.dev
  durable-code-app/frontend/Dockerfile
  durable-code-app/frontend/Dockerfile.dev
  infra/scripts/deploy-app.sh
  scripts/deployment/Dockerfile.simple-backend
  test/integration_test/Dockerfile.playwright
Due: none

docs(roadmap): Update progress for Docker reorganization PR3+PR4 completion
  roadmap/ROADMAP.md
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
Due: design-linters

fix(test): Update Playwright Dockerfile path in Makefile.test
  Makefile.test
Due: none

fix(test): Update Docker network name in test targets
  Makefile.test
Due: none

feat(docker): PR3 - Move compose files and update all references (#57)
  .docker/compose/dev.yml
  .docker/compose/lint.yml
  .docker/compose/prod.yml
  .github/workflows/build-and-push.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  Makefile.lint
  Makefile.test
  docker/linting/Dockerfile.js-lint
  docker/linting/Dockerfile.python-lint
  durable-code-app/backend/Dockerfile
  durable-code-app/backend/Dockerfile.dev
  durable-code-app/frontend/Dockerfile
  durable-code-app/frontend/Dockerfile.dev
  infra/scripts/deploy-app.sh
  roadmap/ROADMAP.md
  roadmap/in_progress/docker-reorganization/PROGRESS_TRACKER.md
  scripts/deployment/Dockerfile.simple-backend
  test/integration_test/Dockerfile.playwright
Due: design-linters

feat(docker): PR5 - Complete documentation and testing for Docker reorganization
  .ai/features/design-linters.md
  .ai/features/development-tooling.md
  .ai/features/web-application.md
  .ai/howto/complete-debugging-guide.md
  .ai/howto/deploy-application.md
  .ai/howto/setup-development.md
  .ai/index_expanded.md
  docker/linting/README.md
  docker/linting/ROLLBACK.md
  docker/linting/TROUBLESHOOTING.md
  docker/linting/test-integration.sh
  roadmap/complete/docker-reorganization/AI_CONTEXT.md
  roadmap/complete/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/complete/docker-reorganization/PR_BREAKDOWN.md
  roadmap/complete/docker-reorganization/TESTING_STRATEGY.md
  roadmap/planning/frontend-critical-fixes/PROGRESS_TRACKER.md
  scripts/test-docker-integration.sh
Due: design-linters

feat(docker): PR5 - Complete documentation and testing for Docker reorganization (#58)
  .ai/features/design-linters.md
  .ai/features/development-tooling.md
  .ai/features/web-application.md
  .ai/howto/complete-debugging-guide.md
  .ai/howto/deploy-application.md
  .ai/howto/setup-development.md
  .ai/index_expanded.md
  docker/linting/README.md
  docker/linting/ROLLBACK.md
  docker/linting/TROUBLESHOOTING.md
  docker/linting/test-integration.sh
  roadmap/complete/docker-reorganization/AI_CONTEXT.md
  roadmap/complete/docker-reorganization/PROGRESS_TRACKER.md
  roadmap/complete/docker-reorganization/PR_BREAKDOWN.md
  roadmap/complete/docker-reorganization/TESTING_STRATEGY.md
  roadmap/planning/frontend-critical-fixes/PROGRESS_TRACKER.md
  scripts/test-docker-integration.sh
Due: design-linters

docs(roadmap): Add Terraform workspaces implementation roadmap
  roadmap/ROADMAP.md
  roadmap/planning/terraform-workspaces/AI_CONTEXT.md
  roadmap/planning/terraform-workspaces/PROGRESS_TRACKER.md
  roadmap/planning/terraform-workspaces/PR_BREAKDOWN.md
Due: design-linters

feat(linters): Expand linter coverage to tools and test directories
  .claude/settings.json
  .pre-commit-config.yaml
  Makefile.lint
  docker-compose.lint.yml
  test/unit_test/app/test_oscilloscope.py
  test/unit_test/tools/design_linters/test_basic.py
  test/unit_test/tools/design_linters/test_file_header_rules.py
  test/unit_test/tools/design_linters/test_file_placement_rules.py
  test/unit_test/tools/design_linters/test_loguru_rules.py
  test/unit_test/tools/design_linters/test_magic_number_rules.py
  test/unit_test/tools/design_linters/test_nesting_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
  test/unit_test/tools/design_linters/test_test_skip_rules.py
  tools/design_linters/cli.py
  tools/design_linters/framework/analyzer.py
  tools/design_linters/framework/multi_language_orchestrator.py
  tools/design_linters/framework/rule_registry.py
  tools/design_linters/framework/types.py
  tools/design_linters/rules/error_handling/resilience_rules.py
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/security/api_security_rules.py
  tools/design_linters/rules/solid/srp_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/style/nesting_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

docs(roadmap): Add Terraform workspaces implementation roadmap (#59)
  roadmap/ROADMAP.md
  roadmap/planning/terraform-workspaces/AI_CONTEXT.md
  roadmap/planning/terraform-workspaces/PROGRESS_TRACKER.md
  roadmap/planning/terraform-workspaces/PR_BREAKDOWN.md
Due: design-linters

feat(linters): Expand linter coverage to tools and test directories (#60)
  .claude/settings.json
  .docker/compose/lint.yml
  Makefile.lint
  test/unit_test/app/test_oscilloscope.py
  test/unit_test/tools/design_linters/test_basic.py
  test/unit_test/tools/design_linters/test_file_header_rules.py
  test/unit_test/tools/design_linters/test_file_placement_rules.py
  test/unit_test/tools/design_linters/test_loguru_rules.py
  test/unit_test/tools/design_linters/test_magic_number_rules.py
  test/unit_test/tools/design_linters/test_nesting_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
  test/unit_test/tools/design_linters/test_test_skip_rules.py
  tools/design_linters/cli.py
  tools/design_linters/framework/analyzer.py
  tools/design_linters/framework/multi_language_orchestrator.py
  tools/design_linters/framework/rule_registry.py
  tools/design_linters/framework/types.py
  tools/design_linters/rules/error_handling/resilience_rules.py
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/security/api_security_rules.py
  tools/design_linters/rules/solid/srp_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/style/nesting_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(terraform): PR1 - Terraform Workspace Foundation
  .gitignore
  infra/scripts/workspace-init.sh
  infra/scripts/workspace-status.sh
  infra/terraform/backend-config/base-dev.hcl
  infra/terraform/backend-config/base-prod.hcl
  infra/terraform/backend-config/base-staging.hcl
  infra/terraform/backend-config/runtime-dev.hcl
  infra/terraform/backend-config/runtime-prod.hcl
  infra/terraform/backend-config/runtime-staging.hcl
  infra/terraform/modules/.gitkeep
  infra/terraform/shared/.gitkeep
  infra/terraform/workspaces/README.md
  infra/terraform/workspaces/base/.gitkeep
  infra/terraform/workspaces/runtime/.gitkeep
Due: design-linters

docs: Update documentation for PR1 completion
  .ai/howto/terraform-workspaces.md
  .ai/index.yaml
  .ai/layout.yaml
  infra/terraform/workspaces/README.md
  roadmap/ROADMAP.md
  roadmap/in_progress/terraform-workspaces/AI_CONTEXT.md
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
  roadmap/in_progress/terraform-workspaces/PR_BREAKDOWN.md
Due: design-linters
