Repository steve-e-jackson/durable-code-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: \.(py)$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$

feat: Racing Game PR2 - Basic Physics Foundation Implementation
  CLAUDE.md
  durable-code-app/backend/app/main.py
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/package-lock.json
  durable-code-app/frontend/package.json
  durable-code-app/frontend/src/features/racing/__tests__/physics.test.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.module.css
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/physics/setup.ts
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/in_progress/racing-game-demo/PR_BREAKDOWN.md
  test/unit_test/app/test_racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix: Update Matter.js imports and Vite config for dependency resolution
  durable-code-app/frontend/src/features/racing/__tests__/physics.test.ts
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/physics/setup.ts
  durable-code-app/frontend/vite.config.ts
Due: none

fix(infra): Fix critical infrastructure issues and update documentation
  .claude/commands/fix.md
  .docker/dockerfiles/Dockerfile.backend
  Makefile.test
  infra/terraform/locals.tf
  infra/terraform/resource-scopes.tf
  roadmap/ROADMAP.md
  test/integration_test/pytest.ini
  test/unit_test/tools/design_linters/test_file_placement_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(scripts): Quote variables in deploy-app.sh to pass ShellCheck validation
  infra/scripts/deploy-app.sh
Due: none

feat(racing): Complete PR2 - Basic Physics Foundation Implementation
  CLAUDE.md
  durable-code-app/frontend/src/features/demo/components/DemoRouter/DemoRouter.tsx
  durable-code-app/frontend/src/features/racing/__tests__/physics.test.ts
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/physics/setup.ts
  roadmap/ROADMAP.md
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
Due: design-linters

fix(scripts): Fix variable expansion in workspace-deploy-runtime.sh
  infra/scripts/workspace-deploy-runtime.sh
Due: none

fix: Fix shell script validation and coverage database permissions
  .docker/dockerfiles/Dockerfile.backend
  infra/scripts/workspace-status.sh
Due: none

fix: Fix remaining CI check failures
  .docker/dockerfiles/Dockerfile.backend
  infra/scripts/workspace-deploy.sh
Due: none

fix: Create coverage directory at runtime for GitHub Actions compatibility
  .docker/dockerfiles/Dockerfile.backend
Due: none

fix: Use /tmp for coverage data to avoid permission issues
  .docker/dockerfiles/Dockerfile.backend
Due: none

fix(racing): Fix linting errors in racing.py endpoint
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix: Fix design linter test failures - context.file_content and LintViolation parameter order
  durable-code-app/backend/pyproject.toml
  tools/design_linters/rules/style/file_header_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(tests): Fix coverage database and test import errors
  durable-code-app/backend/pyproject.toml
  test/unit_test/app/test_racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix: Align GitHub Actions with local behavior for linting and testing
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile.lint
  infra/.tflint.hcl
  tools/design_linters/rules/style/file_header_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix: Skip Terraform validation in CI (requires AWS credentials)
  Makefile.lint
Due: none

fix(infra): Fix critical infrastructure issues and update documentation (#77)
  .claude/commands/fix.md
  .docker/dockerfiles/Dockerfile.backend
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile.lint
  Makefile.test
  durable-code-app/backend/pyproject.toml
  infra/.tflint.hcl
  infra/scripts/deploy-app.sh
  infra/scripts/workspace-deploy-runtime.sh
  infra/scripts/workspace-deploy.sh
  infra/scripts/workspace-status.sh
  infra/terraform/locals.tf
  infra/terraform/resource-scopes.tf
  roadmap/ROADMAP.md
  test/integration_test/pytest.ini
  test/unit_test/tools/design_linters/test_file_placement_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
  tools/design_linters/rules/style/file_header_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(ci): Deactivate build-and-push workflow
  .github/workflows/build-and-push.yml
Due: none

feat(racing): Implement procedural track generation and enhanced rendering
  .pre-commit-config.yaml
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(ci): Optimize linting container caching with GHCR
  .github/workflows/lint.yml
Due: none

docs(racing): Update progress tracker for PR3 completion
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
Due: design-linters

feat(racing): Implement PR4 - Game UI & Controls with component architecture
  durable-code-app/frontend/src/features/racing/components/ControlPanel/ControlPanel.module.css
  durable-code-app/frontend/src/features/racing/components/ControlPanel/ControlPanel.tsx
  durable-code-app/frontend/src/features/racing/components/ControlPanel/index.ts
  durable-code-app/frontend/src/features/racing/components/GameCanvas/GameCanvas.module.css
  durable-code-app/frontend/src/features/racing/components/GameCanvas/GameCanvas.tsx
  durable-code-app/frontend/src/features/racing/components/GameCanvas/index.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.module.css
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/components/StatusDisplay/StatusDisplay.module.css
  durable-code-app/frontend/src/features/racing/components/StatusDisplay/StatusDisplay.tsx
  durable-code-app/frontend/src/features/racing/components/StatusDisplay/index.ts
  durable-code-app/frontend/src/features/racing/utils/gameState.ts
Due: none

feat(racing): Enable racing game demo in UI
  durable-code-app/frontend/src/features/demo/components/DemoSelector/DemoSelector.tsx
Due: none

fix(racing): Fix circular dependency in useRacingGame hook
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

fix(racing): Fix TypeScript import for racing types
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

fix(frontend): Update Vite proxy to use correct backend container name
  durable-code-app/frontend/vite.config.ts
Due: none

fix(frontend): Use Docker Compose service name for backend proxy
  durable-code-app/frontend/vite.config.ts
Due: none

fix(racing): Remove dynamic import from render loop
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

fix(racing): Use type-only import for Point2D in trackRenderer
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
Due: none

fix(racing): Fix stale closure issue with game loop
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

feat(testing): Add comprehensive test coverage for ErrorBoundary and PerformanceMonitor - PR6
  durable-code-app/frontend/src/core/errors/__tests__/ErrorBoundary.test.tsx
  durable-code-app/frontend/src/core/errors/__tests__/ErrorFallback.test.tsx
  durable-code-app/frontend/src/core/performance/__tests__/PerformanceMonitor.test.ts
  durable-code-app/frontend/src/core/performance/__tests__/usePerformanceMetrics.test.ts
  durable-code-app/frontend/src/test-utils/render.tsx
  roadmap/in_progress/frontend-critical-fixes/PROGRESS_TRACKER.md
  roadmap/in_progress/frontend-critical-fixes/PR_BREAKDOWN.md
Due: design-linters

fix(racing): Fix mouse input stale closure issue
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

feat(racing): Complete game UI and controls - PR4
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/in_progress/racing-game-demo/PR_BREAKDOWN.md
Due: design-linters

feat(racing): Implement advanced car physics and visual improvements
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/physics/setup.ts
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(racing): Add larger track with intricate layout and stadium atmosphere
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Fix track generation algorithm for smooth curves
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Fix track boundary generation for consistent width
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Remove coordinate validation constraints
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(racing): Add sound effects for engine and collisions
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
Due: none

feat(racing): Enhance engine sound with deeper modulation
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
Due: none
