Repository steve-e-jackson/durable-code-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters

python-ruff:
  name: Ruff (Python format + lint)
  ...

python-flake8:
  name: Flake8 (Python style)
  ...

python-mypy:
  name: MyPy (Python type checking)
  ...

python-pylint:
  name: Pylint (Python code analysis)
  ...

python-bandit:
  name: Bandit (Python security)
  ...

python-xenon:
  name: Xenon (Python complexity)
  ...

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'if git diff --cached --name-only --diff-filter=ACM | grep -qE "frontend/.*\.(ts|tsx)$"; then docker exec durable-code-frontend-$(git rev-parse --abbrev-ref HEAD | tr "/" "-" | tr "[:upper:]" "[:lower:]")-dev sh -c "npm run typecheck"; fi'
  ...

eslint:
  name: ESLint (JavaScript/TypeScript)
  ...

stylelint:
  name: Stylelint (CSS)
  ...

prettier-check:
  name: Prettier (Frontend formatting)
  ...

design-linters:
  name: Custom design linters
  ...

fix(linters): Fix design linter SIM violations and test infrastructure
  durable-code-app/backend/pyproject.toml
  test/integration_test/requirements.txt
  test/integration_test/test_oscilloscope_playwright.py
  test/unit_test/app/test_oscilloscope.py
  test/unit_test/backend/test_error_handling.py
  test/unit_test/tools/design_linters/test_basic.py
  test/unit_test/tools/design_linters/test_file_header_rules.py
  test/unit_test/tools/design_linters/test_general_logging_rules.py
  test/unit_test/tools/design_linters/test_loguru_rules.py
  test/unit_test/tools/design_linters/test_magic_number_rules.py
  test/unit_test/tools/design_linters/test_nesting_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
  tools/design_linters/rules/error_handling/resilience_rules.py
  tools/design_linters/rules/literals/magic_number_rules.py
  tools/design_linters/rules/logging/general_logging_rules.py
  tools/design_linters/rules/logging/loguru_rules.py
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/security/api_security_rules.py
  tools/design_linters/rules/solid/srp_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/style/nesting_rules.py
  tools/design_linters/rules/style/print_statement_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(linters): Fix design linter SIM violations and test infrastructure (#61)
  durable-code-app/backend/pyproject.toml
  test/integration_test/requirements.txt
  test/integration_test/test_oscilloscope_playwright.py
  test/unit_test/app/test_oscilloscope.py
  test/unit_test/backend/test_error_handling.py
  test/unit_test/tools/design_linters/test_basic.py
  test/unit_test/tools/design_linters/test_file_header_rules.py
  test/unit_test/tools/design_linters/test_general_logging_rules.py
  test/unit_test/tools/design_linters/test_loguru_rules.py
  test/unit_test/tools/design_linters/test_magic_number_rules.py
  test/unit_test/tools/design_linters/test_nesting_rules.py
  test/unit_test/tools/design_linters/test_print_statement_rules.py
  test/unit_test/tools/design_linters/test_srp_rules.py
  tools/design_linters/rules/error_handling/resilience_rules.py
  tools/design_linters/rules/literals/magic_number_rules.py
  tools/design_linters/rules/logging/general_logging_rules.py
  tools/design_linters/rules/logging/loguru_rules.py
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/security/api_security_rules.py
  tools/design_linters/rules/solid/srp_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/style/nesting_rules.py
  tools/design_linters/rules/style/print_statement_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(terraform): PR2 - Base Infrastructure Workspace
  infra/scripts/workspace-deploy-base.sh
  infra/terraform/workspaces/base/.terraform.lock.hcl
  infra/terraform/workspaces/base/README.md
  infra/terraform/workspaces/base/alb.tf
  infra/terraform/workspaces/base/dns.tf
  infra/terraform/workspaces/base/ecr.tf
  infra/terraform/workspaces/base/main.tf
  infra/terraform/workspaces/base/networking.tf
  infra/terraform/workspaces/base/outputs.tf
  infra/terraform/workspaces/base/providers.tf
  infra/terraform/workspaces/base/terraform.tfvars.example
  infra/terraform/workspaces/base/variables.tf
  roadmap/ROADMAP.md
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

fix: Address PR review comments
  .ai/howto/terraform-base-workspace.md
  .ai/howto/terraform-workspaces.md
  infra/scripts/workspace-deploy-base.sh
  infra/terraform/workspaces/base/README.md
  infra/terraform/workspaces/base/main.tf
  infra/terraform/workspaces/base/outputs.tf
  infra/terraform/workspaces/base/providers.tf
  infra/terraform/workspaces/base/variables.tf
Due: design-linters

feat(terraform): PR3 - Create runtime infrastructure workspace
  infra/terraform/workspaces/runtime/.terraform.lock.hcl
  infra/terraform/workspaces/runtime/alb-listeners.tf
  infra/terraform/workspaces/runtime/data.tf
  infra/terraform/workspaces/runtime/ecs.tf
  infra/terraform/workspaces/runtime/main.tf
  infra/terraform/workspaces/runtime/outputs.tf
  infra/terraform/workspaces/runtime/providers.tf
  infra/terraform/workspaces/runtime/terraform.tfvars.example
  infra/terraform/workspaces/runtime/variables.tf
Due: none

docs: Update progress tracker for PR3 completion to 50%
  infra/scripts/workspace-deploy-runtime.sh
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

docs: Update main roadmap for Terraform Workspaces PR3 completion
  roadmap/ROADMAP.md
Due: design-linters

docs: Update PR5 and PR6 for parameter-driven approach
  roadmap/in_progress/terraform-workspaces/PR_BREAKDOWN.md
Due: design-linters

fix: Improve linting container management and pre-commit hooks
  .pre-commit-config.yaml
  Makefile.lint
Due: none

fix: Resolve all linting and testing issues
  durable-code-app/backend/pyproject.toml
  infra/scripts/workspace-deploy-runtime.sh
  tools/design_linters/rules/literals/magic_number_rules.py
  tools/design_linters/rules/style/file_header_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

docs: Complete PR4 and add .docker/README.md
  .docker/README.md
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

docs: Complete PR4 and add .docker/README.md (#66)
  .docker/README.md
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

feat: Implement Terraform workspace Makefile integration (PR5)
  Makefile.infra
  infra/scripts/workspace-deploy.sh
  infra/scripts/workspace-destroy-base.sh
  infra/scripts/workspace-destroy-runtime.sh
  infra/scripts/workspace-destroy.sh
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

fix: Remove unused BLUE variable from workspace-destroy-base.sh
  infra/scripts/workspace-destroy-base.sh
Due: none

feat: Implement Terraform workspace Makefile integration (PR5) (#67)
  Makefile.infra
  infra/scripts/workspace-deploy.sh
  infra/scripts/workspace-destroy-base.sh
  infra/scripts/workspace-destroy-runtime.sh
  infra/scripts/workspace-destroy.sh
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

feat: Complete PR6 - Documentation, Testing, and Backend Fixes
  .ai/howto/infrastructure-deployment.md
  .ai/howto/terraform-workspaces-operations.md
  .ai/runbooks/cost-optimization.md
  .ai/troubleshooting/terraform-workspaces.md
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
  .github/workflows/terraform-test.yml
  infra/terraform/backend-config/base-dev.hcl
  infra/terraform/backend-config/base-prod.hcl
  infra/terraform/backend-config/base-staging.hcl
  infra/terraform/backend-config/runtime-dev.hcl
  infra/terraform/backend-config/runtime-prod.hcl
  infra/terraform/backend-config/runtime-staging.hcl
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

feat: Complete PR6 - Documentation, Testing, and Backend Fixes (#68)
  .ai/howto/infrastructure-deployment.md
  .ai/howto/terraform-workspaces-operations.md
  .ai/runbooks/cost-optimization.md
  .ai/troubleshooting/terraform-workspaces.md
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
  .github/workflows/terraform-test.yml
  infra/terraform/backend-config/base-dev.hcl
  infra/terraform/backend-config/base-prod.hcl
  infra/terraform/backend-config/base-staging.hcl
  infra/terraform/backend-config/runtime-dev.hcl
  infra/terraform/backend-config/runtime-prod.hcl
  infra/terraform/backend-config/runtime-staging.hcl
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

fix: Complete PR7 deployment testing and infrastructure fixes
  CLAUDE.md
  durable-code-app/frontend/nginx.ecs.conf
  durable-code-app/frontend/src/features/demo/hooks/useWebSocket.test.ts
  durable-code-app/frontend/src/features/demo/types/context.types.ts
  infra/scripts/deploy-app.sh
  infra/terraform/workspaces/base/networking.tf
  infra/terraform/workspaces/base/outputs.tf
  infra/terraform/workspaces/runtime/alb-listeners.tf
  infra/terraform/workspaces/runtime/alb.tf
  infra/terraform/workspaces/runtime/data.tf
  infra/terraform/workspaces/runtime/dns.tf
  infra/terraform/workspaces/runtime/ecs.tf
  infra/terraform/workspaces/runtime/networking.tf
  infra/terraform/workspaces/runtime/outputs.tf
  infra/terraform/workspaces/runtime/terraform.tfvars.example
  infra/terraform/workspaces/runtime/variables.tf
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
Due: design-linters

feat(commands): Add web tab reconciliation support to /reconcile command
  .claude/commands/reconcile.md
Due: design-linters

feat(commands): Add web tab reconciliation support to /reconcile command (#70)
  .claude/commands/reconcile.md
Due: design-linters

feat: Add agent-agnostic system roadmap and fix PR workflow tagging
  .github/workflows/build-and-push.yml
  .github/workflows/terraform-test.yml
  infra/terraform/workspaces/base/github-oidc.tf
  roadmap/ROADMAP.md
  roadmap/planning/agent-agnostic-system/AI_CONTEXT.md
  roadmap/planning/agent-agnostic-system/PROGRESS_TRACKER.md
  roadmap/planning/agent-agnostic-system/PR_BREAKDOWN.md
Due: design-linters

feat(journey): Update journey timeline with recent milestones
  durable-code-app/frontend/src/features/journey/data/journeyData.ts
Due: none

fix: Resolve shellcheck SC2181 warnings in workspace-destroy.sh
  infra/scripts/workspace-destroy.sh
Due: none

feat: Journey reconciliation and shell script validation fix (#71)
  durable-code-app/frontend/src/features/journey/data/journeyData.ts
  infra/scripts/workspace-destroy.sh
Due: none

fix: Complete PR7 deployment testing and infrastructure fixes (#69)
  .github/workflows/build-and-push.yml
  .github/workflows/terraform-test.yml
  CLAUDE.md
  durable-code-app/frontend/nginx.ecs.conf
  durable-code-app/frontend/src/features/demo/hooks/useWebSocket.test.ts
  durable-code-app/frontend/src/features/demo/types/context.types.ts
  infra/scripts/deploy-app.sh
  infra/terraform/workspaces/base/github-oidc.tf
  infra/terraform/workspaces/base/networking.tf
  infra/terraform/workspaces/base/outputs.tf
  infra/terraform/workspaces/runtime/alb-listeners.tf
  infra/terraform/workspaces/runtime/alb.tf
  infra/terraform/workspaces/runtime/data.tf
  infra/terraform/workspaces/runtime/dns.tf
  infra/terraform/workspaces/runtime/ecs.tf
  infra/terraform/workspaces/runtime/networking.tf
  infra/terraform/workspaces/runtime/outputs.tf
  infra/terraform/workspaces/runtime/terraform.tfvars.example
  infra/terraform/workspaces/runtime/variables.tf
  roadmap/ROADMAP.md
  roadmap/in_progress/terraform-workspaces/PROGRESS_TRACKER.md
  roadmap/planning/agent-agnostic-system/AI_CONTEXT.md
  roadmap/planning/agent-agnostic-system/PROGRESS_TRACKER.md
  roadmap/planning/agent-agnostic-system/PR_BREAKDOWN.md
Due: design-linters

feat: Add racing game demo roadmap item with comprehensive planning
  roadmap/ROADMAP.md
  roadmap/planning/racing-game-demo/AI_CONTEXT.md
  roadmap/planning/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/planning/racing-game-demo/PR_BREAKDOWN.md
Due: design-linters

feat(docker): Implement multi-stage Docker builds for optimized testing
  .docker/compose/app.yml
  .docker/compose/dev.yml
  .docker/compose/lint.yml
  .docker/compose/test.yml
  .docker/dockerfiles/Dockerfile.backend
  .docker/dockerfiles/Dockerfile.frontend
  .docker/dockerfiles/backend/Dockerfile.dev
  .docker/dockerfiles/backend/Dockerfile.prod
  .docker/dockerfiles/frontend/Dockerfile.dev
  .docker/dockerfiles/frontend/Dockerfile.prod
  .docker/dockerfiles/linting/Dockerfile.js-lint
  .docker/dockerfiles/linting/Dockerfile.python-lint
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  Makefile.lint
  Makefile.test
Due: none

refactor(docker): Clean up dockerfiles directory structure
  .docker/compose/test.yml
  .docker/dockerfiles/Dockerfile.playwright
  .docker/dockerfiles/deployment/Dockerfile.simple-backend
  Makefile.test
Due: none

feat: Add racing game demo roadmap item with comprehensive planning (#73)
  roadmap/ROADMAP.md
  roadmap/planning/racing-game-demo/AI_CONTEXT.md
  roadmap/planning/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/planning/racing-game-demo/PR_BREAKDOWN.md
Due: design-linters

perf(ci): Parallelize Docker image builds in GitHub Actions
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix(docker): Fix frontend linting container dependencies
  .docker/dockerfiles/Dockerfile.frontend
Due: none

feat(navigation): Add dropdown support for Demo tab with sub-navigation
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.module.css
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.tsx
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.types.ts
  durable-code-app/frontend/src/components/common/Dropdown/index.ts
  durable-code-app/frontend/src/components/common/index.ts
  durable-code-app/frontend/src/config/tabs.config.ts
  durable-code-app/frontend/src/features/demo/components/DemoRouter/DemoRouter.tsx
  durable-code-app/frontend/src/features/demo/components/DemoRouter/index.ts
  durable-code-app/frontend/src/features/demo/components/DemoSelector/DemoSelector.module.css
  durable-code-app/frontend/src/features/demo/components/DemoSelector/DemoSelector.tsx
  durable-code-app/frontend/src/features/demo/components/DemoSelector/index.ts
  durable-code-app/frontend/src/features/demo/components/DemoTab/DemoTab.tsx
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/OscilloscopeDemo.module.css
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/OscilloscopeDemo.tsx
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/index.ts
  durable-code-app/frontend/src/features/navigation/components/TabNavigation/TabNavigation.module.css
  durable-code-app/frontend/src/features/navigation/components/TabNavigation/TabNavigation.tsx
  durable-code-app/frontend/src/features/navigation/index.ts
  durable-code-app/frontend/src/features/navigation/types/navigation.types.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.module.css
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/index.ts
  durable-code-app/frontend/src/store/navigationStore.ts
Due: none

docs: Update PROGRESS_TRACKER.md - PR1 complete
  roadmap/planning/racing-game-demo/PROGRESS_TRACKER.md
Due: design-linters

docs: Move racing-game-demo to in_progress and update ROADMAP.md
  roadmap/ROADMAP.md
  roadmap/in_progress/racing-game-demo/AI_CONTEXT.md
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/in_progress/racing-game-demo/PR_BREAKDOWN.md
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix: Update tests for new demo navigation structure
  .claude/settings.json
  durable-code-app/frontend/src/components/tabs/OscilloscopeDemo.test.tsx
  durable-code-app/frontend/src/features/demo/components/DemoRouter/DemoRouter.tsx
  roadmap/planning/example-api-feature/PROGRESS_TRACKER.md
Due: design-linters

style: Fix Prettier formatting in DemoRouter component
  durable-code-app/frontend/src/features/demo/components/DemoRouter/DemoRouter.tsx
Due: none

feat: Racing Game PR1 - Navigation Dropdown Support (#75)
  .claude/settings.json
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.module.css
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.tsx
  durable-code-app/frontend/src/components/common/Dropdown/Dropdown.types.ts
  durable-code-app/frontend/src/components/common/Dropdown/index.ts
  durable-code-app/frontend/src/components/common/index.ts
  durable-code-app/frontend/src/components/tabs/OscilloscopeDemo.test.tsx
  durable-code-app/frontend/src/config/tabs.config.ts
  durable-code-app/frontend/src/features/demo/components/DemoRouter/DemoRouter.tsx
  durable-code-app/frontend/src/features/demo/components/DemoRouter/index.ts
  durable-code-app/frontend/src/features/demo/components/DemoSelector/DemoSelector.module.css
  durable-code-app/frontend/src/features/demo/components/DemoSelector/DemoSelector.tsx
  durable-code-app/frontend/src/features/demo/components/DemoSelector/index.ts
  durable-code-app/frontend/src/features/demo/components/DemoTab/DemoTab.tsx
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/OscilloscopeDemo.module.css
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/OscilloscopeDemo.tsx
  durable-code-app/frontend/src/features/demo/components/OscilloscopeDemo/index.ts
  durable-code-app/frontend/src/features/navigation/components/TabNavigation/TabNavigation.module.css
  durable-code-app/frontend/src/features/navigation/components/TabNavigation/TabNavigation.tsx
  durable-code-app/frontend/src/features/navigation/index.ts
  durable-code-app/frontend/src/features/navigation/types/navigation.types.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.module.css
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/index.ts
  durable-code-app/frontend/src/store/navigationStore.ts
  roadmap/ROADMAP.md
  roadmap/in_progress/racing-game-demo/AI_CONTEXT.md
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
  roadmap/in_progress/racing-game-demo/PR_BREAKDOWN.md
  roadmap/planning/example-api-feature/PROGRESS_TRACKER.md
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(docker): Fix test execution using dev containers instead of dedicated test containers
  .claude/commands/fix.md
  .docker/compose/lint.yml
  .docker/compose/prod.yml
  .docker/compose/test.yml
  .docker/dockerfiles/Dockerfile.frontend
  Makefile.test
  durable-code-app/frontend/.eslintrc.json
  durable-code-app/frontend/src/App.test.tsx
  durable-code-app/frontend/src/components/common/Link/Link.test.tsx
  tools/design_linters/rules/organization/file_placement_rules.py
  tools/design_linters/rules/style/file_header_rules.py
  tools/design_linters/rules/testing/test_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(docker): Implement multi-stage Docker builds for optimized testing (#74)
  .claude/commands/fix.md
  .docker/compose/app.yml
  .docker/compose/dev.yml
  .docker/compose/lint.yml
  .docker/compose/prod.yml
  .docker/compose/test.yml
  .docker/dockerfiles/Dockerfile.backend
  .docker/dockerfiles/Dockerfile.frontend
  .docker/dockerfiles/Dockerfile.playwright
  .docker/dockerfiles/backend/Dockerfile.dev
  .docker/dockerfiles/backend/Dockerfile.prod
  .docker/dockerfiles/deployment/Dockerfile.simple-backend
  .docker/dockerfiles/frontend/Dockerfile.dev
  .docker/dockerfiles/frontend/Dockerfile.prod
  .docker/dockerfiles/linting/Dockerfile.js-lint
  .docker/dockerfiles/linting/Dockerfile.python-lint
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  Makefile.lint
  Makefile.test
  durable-code-app/frontend/.eslintrc.json
  durable-code-app/frontend/src/App.test.tsx
  durable-code-app/frontend/src/components/common/Link/Link.test.tsx
Due: design-linters

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: \.(py)$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$
