Repository steve-e-jackson/durable-code-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters, no-skip-enforcement

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: \.(py)$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$
  no-skip-enforcement: any of: \.(py|ts|tsx|tf|sh)$

feat: Add infrastructure destroy permissions to GitHub Actions role (#97)
  infra/terraform/workspaces/base/github-oidc.tf
Due: no-skip-enforcement

feat: Improve environment variable handling with direnv best practices
  .env.example
  .envrc
  .gitignore
Due: none

fix: Add automatic Terraform workspace selection to infra targets
  Makefile.infra
Due: none

feat: Improve environment variable handling with direnv best practices (#98)
  .env.example
  .envrc
  .gitignore
  Makefile.infra
Due: none

fix: Add comprehensive IAM permissions for GitHub Actions infrastructure management
  infra/terraform/workspaces/base/github-oidc.tf
Due: no-skip-enforcement

fix: Add comprehensive IAM permissions for GitHub Actions infrastructure management (#99)
  infra/terraform/workspaces/base/github-oidc.tf
Due: no-skip-enforcement

feat: Add bootstrap workspace for permanent GitHub Actions authentication
  Makefile.infra
  infra/terraform/backend-config/bootstrap-dev.hcl
  infra/terraform/workspaces/bootstrap/data.tf
  infra/terraform/workspaces/bootstrap/github-oidc.tf
  infra/terraform/workspaces/bootstrap/main.tf
  infra/terraform/workspaces/bootstrap/outputs.tf
  infra/terraform/workspaces/bootstrap/variables.tf
Due: no-skip-enforcement

feat: Add bootstrap workspace for permanent GitHub Actions authentication (#100)
  Makefile.infra
  infra/terraform/backend-config/bootstrap-dev.hcl
  infra/terraform/workspaces/bootstrap/data.tf
  infra/terraform/workspaces/bootstrap/github-oidc.tf
  infra/terraform/workspaces/bootstrap/main.tf
  infra/terraform/workspaces/bootstrap/outputs.tf
  infra/terraform/workspaces/bootstrap/variables.tf
Due: no-skip-enforcement

fix: Clean up legacy terraform root files and fix bootstrap workspace
  Makefile.infra
  infra/terraform/.terraform.lock.hcl
  infra/terraform/acm.tf
  infra/terraform/alb.tf
  infra/terraform/backend.tf
  infra/terraform/ecr.tf
  infra/terraform/ecs.tf
  infra/terraform/iam.tf
  infra/terraform/locals.tf
  infra/terraform/main.tf
  infra/terraform/networking.tf
  infra/terraform/outputs.tf
  infra/terraform/providers.tf
  infra/terraform/resource-scopes.tf
  infra/terraform/route53-delegation.tf
  infra/terraform/route53.tf
  infra/terraform/variables.tf
  infra/terraform/workspaces/bootstrap/github-oidc.tf
Due: no-skip-enforcement

fix: Fix Terraform workspace state management and infrastructure dependencies
  .ai/howto/deploy-application.md
  .dockerignore
  Makefile.infra
  infra/environments/dev.tfvars
  infra/terraform/workspaces/base/dns.tf
  infra/terraform/workspaces/base/variables.tf
  infra/terraform/workspaces/bootstrap/.terraform.lock.hcl
  infra/terraform/workspaces/runtime/data.tf
Due: design-linters, no-skip-enforcement

fix: Format Terraform dns.tf file
  infra/terraform/workspaces/base/dns.tf
Due: no-skip-enforcement

fix: Fix Terraform workspace state management and infrastructure dependencies (#101)
  .ai/howto/deploy-application.md
  .dockerignore
  Makefile.infra
  infra/environments/dev.tfvars
  infra/terraform/acm.tf
  infra/terraform/alb.tf
  infra/terraform/backend.tf
  infra/terraform/ecr.tf
  infra/terraform/ecs.tf
  infra/terraform/iam.tf
  infra/terraform/locals.tf
  infra/terraform/main.tf
  infra/terraform/networking.tf
  infra/terraform/outputs.tf
  infra/terraform/providers.tf
  infra/terraform/resource-scopes.tf
  infra/terraform/route53-delegation.tf
  infra/terraform/route53.tf
  infra/terraform/variables.tf
  infra/terraform/workspaces/base/dns.tf
  infra/terraform/workspaces/base/variables.tf
  infra/terraform/workspaces/bootstrap/.terraform.lock.hcl
  infra/terraform/workspaces/bootstrap/github-oidc.tf
  infra/terraform/workspaces/runtime/data.tf
Due: design-linters, no-skip-enforcement
