Repository steve-e-jackson/durable-code-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, python-xenon, typescript-check, eslint, stylelint, prettier-check, design-linters

Path conditions:
  python-ruff: any of: \.(py)$
  python-flake8: any of: \.(py)$
  python-mypy: any of: \.(py)$
  python-pylint: any of: \.(py)$
  python-bandit: any of: \.(py)$
  python-xenon: any of: ^app/.*\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  stylelint: any of: ^frontend/.*\.css$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|css)$
  design-linters: any of: \.(py|md)$

fix(racing): Update test assertions for new track widths
  test/unit_test/app/test_racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Update physics test for realistic car physics
  durable-code-app/frontend/src/features/racing/__tests__/physics.test.ts
Due: none

feat(racing): Enhance track generation and audio system (PR6.1)
  durable-code-app/backend/app/racing.py
  durable-code-app/frontend/public/audio/racing/AUDIO_SOURCES.md
  durable-code-app/frontend/public/audio/racing/endine-idle.mp3
  durable-code-app/frontend/public/audio/racing/engine-high.mp3
  durable-code-app/frontend/public/audio/racing/engine-rev.mp3
  durable-code-app/frontend/public/audio/racing/tire-screech.mp3
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/components/TrackControls/TrackControls.module.css
  durable-code-app/frontend/src/features/racing/components/TrackControls/TrackControls.tsx
  durable-code-app/frontend/src/features/racing/components/TrackControls/index.ts
  durable-code-app/frontend/src/features/racing/config/trackConfig.ts
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Correct typo in engine-idle audio filename
  durable-code-app/frontend/public/audio/racing/engine-idle.mp3
Due: none

debug(racing): Add console logging for audio file loading
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
Due: none

feat(racing): Increase audio volume levels for better audibility
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
Due: none

fix(racing): Eliminate synthesized audio when real audio files load
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
Due: none

fix(racing): Swap engine-idle and tire-screech audio files
  durable-code-app/frontend/public/audio/racing/engine-idle.mp3
  durable-code-app/frontend/public/audio/racing/tire-screech.mp3
Due: none

revert: Restore original audio file names
  durable-code-app/frontend/public/audio/racing/engine-idle.mp3
  durable-code-app/frontend/public/audio/racing/tire-screech.mp3
Due: none

style(racing): Remove console.info statements for linting
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
Due: none

refactor(racing): Reduce complexity by extracting helper functions
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

refactor(racing): Extract famous track generators and reduce file complexity
  .pre-commit-config.yaml
  durable-code-app/backend/app/famous_tracks.py
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

feat(linting): Add enforcement rules to prevent skipping critical linting violations
  .ai/docs/LINTING_ENFORCEMENT_STANDARDS.md
  .ai/docs/STANDARDS.md
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile.lint
  test/unit_test/tools/design_linters/test_no_skip_rules.py
  tools/design_linters/rules/enforcement/__init__.py
  tools/design_linters/rules/enforcement/no_skip_rules.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(racing): Achieve 10/10 pylint score by fixing line length and type issues
  durable-code-app/backend/app/racing.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

fix(linting): Fix malformed flake8 config header in tools/.flake8
  tools/.flake8
  tools/design_linters/rules/enforcement/__init__.py
Due: python-ruff, python-flake8, python-mypy, python-pylint, python-bandit, design-linters

docs(roadmap): Update racing game progress to 56% for PR6.1
  roadmap/ROADMAP.md
  roadmap/in_progress/racing-game-demo/PROGRESS_TRACKER.md
Due: design-linters

docs(roadmap): Mark frontend-critical-fixes as 100% complete
  roadmap/ROADMAP.md
  roadmap/complete/frontend-critical-fixes/AI_CONTEXT.md
  roadmap/complete/frontend-critical-fixes/PROGRESS_TRACKER.md
  roadmap/complete/frontend-critical-fixes/PR_BREAKDOWN.md
Due: design-linters

feat(racing): Implement timing and scoring system (PR5)
  CLAUDE.md
  durable-code-app/frontend/public/audio/racing/AUDIO_SOURCES.md
  durable-code-app/frontend/public/audio/racing/engine-high.mp3
  durable-code-app/frontend/public/audio/racing/engine-idle.mp3
  durable-code-app/frontend/public/audio/racing/engine-rev.mp3
  durable-code-app/frontend/public/audio/racing/tire-screech.mp3
  durable-code-app/frontend/src/features/racing/audio/soundManager.ts
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/components/StatusDisplay/StatusDisplay.module.css
  durable-code-app/frontend/src/features/racing/components/StatusDisplay/StatusDisplay.tsx
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/physics/setup.ts
  durable-code-app/frontend/src/features/racing/rendering/trackRenderer.ts
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
  durable-code-app/frontend/src/features/racing/utils/checkpoints.ts
  durable-code-app/frontend/src/features/racing/utils/timing.ts
Due: design-linters

feat(reconcile): Add repository tab reconciliation support
  .claude/commands/reconcile.md
Due: design-linters

feat(repository): Add resource naming standards and roadmap
  .claude/commands/reconcile.md
  durable-code-app/frontend/src/features/repository/components/RepositoryTab/RepositoryTab.tsx
  durable-code-app/frontend/src/features/repository/hooks/useRepository.ts
  roadmap/planning/resource-naming-enforcement/AI_CONTEXT.md
  roadmap/planning/resource-naming-enforcement/PROGRESS_TRACKER.md
  roadmap/planning/resource-naming-enforcement/PR_BREAKDOWN.md
Due: design-linters

feat(ui): Transform AI principles into banner with clickable blocks
  durable-code-app/frontend/src/components/PrinciplesBanner/PrinciplePopup.module.css
  durable-code-app/frontend/src/components/PrinciplesBanner/PrinciplePopup.tsx
  durable-code-app/frontend/src/components/PrinciplesBanner/PrinciplesBanner.module.css
  durable-code-app/frontend/src/components/PrinciplesBanner/PrinciplesBanner.tsx
  durable-code-app/frontend/src/config/principles.config.ts
  durable-code-app/frontend/src/pages/HomePage/HomePage.module.css
  durable-code-app/frontend/src/pages/HomePage/HomePage.tsx
Due: none

test: Update AI principles test to match new banner implementation
  durable-code-app/frontend/src/App.test.tsx
Due: none

fix(frontend): Resolve TypeScript compilation errors blocking deployment
  durable-code-app/frontend/src/core/errors/__tests__/ErrorBoundary.test.tsx
  durable-code-app/frontend/src/core/performance/__tests__/usePerformanceMetrics.test.ts
  durable-code-app/frontend/src/features/navigation/components/TabNavigation/TabNavigation.tsx
  durable-code-app/frontend/src/features/racing/components/GameCanvas/GameCanvas.tsx
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
  durable-code-app/frontend/src/pages/HomePage/HomePage.tsx
Due: none

fix(infra): Fix deployment script and Terraform configuration
  Makefile.infra
  infra/scripts/deploy-app.sh
  infra/terraform/workspaces/runtime/data.tf
Due: none

fix(terraform): Document frontend port discrepancy (keep at 3000 for now)
  .docker/dockerfiles/Dockerfile.frontend
  infra/terraform/workspaces/runtime/variables.tf
Due: none

fix(deploy): Ensure frontend task definition uses port 3000
  infra/scripts/deploy-app.sh
Due: none

fix(deploy): Update health check to use port 3000
  infra/scripts/deploy-app.sh
Due: none

fix(racing): Restore mouse event handlers to fix car controls
  durable-code-app/frontend/src/features/racing/components/RacingGameTab/RacingGameTab.tsx
  durable-code-app/frontend/src/features/racing/hooks/useRacingGame.ts
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
Due: none

fix(racing): Fix TypeScript ref type for canvas element
  durable-code-app/frontend/src/features/racing/components/GameCanvas/GameCanvas.tsx
  durable-code-app/frontend/src/features/racing/types/racing.types.ts
Due: none

style(terraform): Auto-format variables.tf comment spacing
  infra/terraform/workspaces/runtime/variables.tf
Due: none

feat(deploy): Add deployment timestamp to website footer
  .docker/dockerfiles/Dockerfile.frontend
  durable-code-app/frontend/src/pages/HomePage/HomePage.module.css
  durable-code-app/frontend/src/pages/HomePage/HomePage.tsx
  infra/scripts/deploy-app.sh
Due: none

fix: Update infrastructure workflows to use OIDC authentication
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

fix: Update infrastructure workflows to use OIDC authentication (#93)
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

fix: Correct make targets and add AUTO flag for CI workflows
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

fix: Correct make targets and add AUTO flag for CI workflows (#94)
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

fix: Remove AWS_PROFILE dependency in CI workflows
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

fix: Remove AWS_PROFILE dependency in CI workflows (#95)
  .github/workflows/morning-startup.yml
  .github/workflows/nightly-teardown.yml
Due: none

feat: Add Terraform state and infrastructure permissions to GitHub Actions role
  infra/terraform/workspaces/base/github-oidc.tf
Due: none

feat: Add Terraform state and infrastructure permissions to GitHub Actions role (#96)
  infra/terraform/workspaces/base/github-oidc.tf
Due: none

feat: Add infrastructure destroy permissions to GitHub Actions role
  infra/terraform/workspaces/base/github-oidc.tf
Due: none
